<section id="about">
    <div class="about-container">
        <div class="about-image">
            <div class="avatar-placeholder">
                <span>BS</span>

            </div>
        </div>
        <div class="about-content">
            <h2>À propos de moi</h2>
            <p>
                Je suis un développeur web passionné avec une expérience dans la construction d'applications web en utilisant Angular, TypeScript et d'autres technologies modernes. J'aime créer des interfaces conviviales et écrire du code propre et maintenable. Dans
                mon temps libre, j'aime explorer de nouveaux langages de programmation et contribuer aux projets open-source.
            </p>

            <div class="about-info">
                <div class="info-item">
                    <span class="info-label">Localisation</span>
                    <span class="info-value">Annecy, France</span>
                </div>

                <div class="info-item">
                    <span class="info-label">Diplomes</span>
                    <span class="info-value">Bachelor Of Science in Software Engineering - HES-SO, Genève</span>
                </div>

                <div class="info-item">
                    <span class="info-label">Disponibilité</span>
                    <span class="info-value">Immédiatement</span>
                </div>

            </div>
        </div>
    </div>


</section>