<section id="hero">
    <div class="hero-content">
        <span>Salut, je suis</span>
        <h1>Bedran Sezer</h1>
        <h2>Développeur Web Full Stack</h2>
        <p>Passionné par la création d'expériences numériques innovantes, je combine mes compétences en développement front-end et back-end pour construire des applications web performantes et intuitives
        </p>
        <div class="hero-cta">
            <a href="#projects" class="btn-primary">Voir mes projets</a>
            <a href="#contact" class="btn-outline">Me contacter</a>

        </div>
    </div>

</section>